$PRIMARY: #2c7be5;
$TEXT_COLOR: #121212;
$TEXT_COLOR_SECONDARY: #4d4d4d;
$TEXT_COLOR_SPECIAL: #ac8c67;
$DARK_BTN_SECONDARY: #244166;
$TEXT_COLOR_MENU: #4d4d4d;
$BACKGROUND_SECTION_TEXT: #f7f5f1;
$BLACK: #000;
$WHITE: #f9fafc;

$ComfortaaRegular: "Comfortaa-Regular";
$ComfortaaLight: "Comfortaa-Light";
$AvenirNextLTProBold: "AvenirNextLTPro-Bold";
$AvenirNextLTProRegular: "AvenirNextLTPro-Regular";
$AvenirNextLTProDemi: "AvenirNextLTPro-Demi";

@font-face {
  font-family: "SVN-AvenirNextBold";
  src: url("../src/public/fonts/SVN-AvenirNextBold.eot");
  src: url("../src/public/fonts/SVN-AvenirNextBold.eot")
      format("embedded-opentype"),
    url("../src/public/fonts/SVN-AvenirNextBold.woff2") format("woff2"),
    url("../src/public/fonts/SVN-AvenirNextBold.woff") format("woff"),
    url("../src/public/fonts/SVN-AvenirNextBold.ttf") format("truetype"),
    url("../src/public/fonts/SVN-AvenirNextBold.svg#SVN-AvenirNextBold")
      format("svg");
}

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../src/public/fonts/AvenirNextLTPro-Bold.eot");
  src: url("../src/public/fonts/AvenirNextLTPro-Bold.eot")
      format("embedded-opentype"),
    url("../src/public/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../src/public/fonts/AvenirNextLTPro-Bold.woff") format("woff"),
    url("../src/public/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"),
    url("../src/public/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold")
      format("svg");
}
@font-face {
  font-family: "Comfortaa-Light";
  src: url("../src/public/fonts/Comfortaa-Light.eot");
  src: url("../src/public/fonts/Comfortaa-Light.eot")
      format("embedded-opentype"),
    url("../src/public/fonts/Comfortaa-Light.woff2") format("woff2"),
    url("../src/public/fonts/Comfortaa-Light.woff") format("woff"),
    url("../src/public/fonts/Comfortaa-Light.ttf") format("truetype"),
    url("../src/public/fonts/Comfortaa-Light.svg#Comfortaa-Light") format("svg");
}

body {
  font-family: "Comfortaa-Light";
}
header {
  font-family: "SVN-AvenirNextBold";
}
.ant-dropdown,
.ant-dropdown-menu-submenu-popup {
  background: #fff;
  border: 1px solid #121212;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #121212;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
  .ant-dropdown-menu {
    background-color: transparent;
  }
  .ant-dropdown-menu-submenu-vertical {
    background-color: transparent;
  }
  .ant-dropdown-menu-submenu-active {
    color: $TEXT_COLOR_SPECIAL;
    span {
      color: $TEXT_COLOR_SPECIAL;
    }
  }
  .ant-dropdown-menu-item-active {
    color: $TEXT_COLOR_SPECIAL;
    span {
      color: $TEXT_COLOR_SPECIAL;
    }
  }
}
.topHeader {
  background-color: $BLACK;
  width: 100%;
  .contentTopH {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: 0.3s;
  }
  h5,
  h3 {
    color: #fff;
  }
  h3 {
    font-family: "SVN-AvenirNextBold";
    span {
      color: #7d7d7d;
      padding-left: 10px;
    }
    .active {
      color: $WHITE;
    }
  }
  span {
    cursor: pointer;
    &:hover {
      color: $WHITE !important;
    }
  }
}
.textItem {
  font-size: 24px;
}
.arrow {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 14px;
  img {
    width: 100%;
    height: 100%;
    margin: 0 20px;
  }

  &.-prev {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
}
.indexSlide {
  span {
    margin: 0 4px;
  }
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .active {
    font-size: 26px;
  }
}
section {
  padding-top: 80px;
}
.scrollTo {
  display: flex;
  justify-content: center;
  img {
    max-height: 18px;
    margin: 0 12px;
  }
}
.quote {
  background: rgba(133, 116, 96, 0.1);
  padding-bottom: 80px;
  &.darkQ {
    color: #ddd;
  }

  p {
    font-size: 40px;
    text-align: center;
    margin: 0;
  }
}
.custom {
  position: relative;
  span {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(133, 116, 96, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -20%);
  }
}

.box-chapter {
  background: #ffffff;
  border: 1px solid #121212;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #121212;
  border-radius: 15px;
  width: 100%;
  height: 95px;
  position: relative;
  padding: 20px 22px;
  &:hover {
    .title {
      color: #ac8c67;
    }
  }
  .title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
  }
  .time {
    display: flex;
    justify-content: space-between;
  }
  .caption {
    font-family: "Comfortaa-Light";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #4d4d4d;
  }
  .money {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    color: #ac8c67;
  }
  &.mode {
    background: #121212;
    border: 1px solid #ffffff;
    box-shadow: 4px 4px 0px #ffffff;
    .money {
      color: #ac8c67;
    }
    box-sizing: border-box;
    .title {
      color: #ffffff;
    }
    .caption {
      color: #9fa4a9;
    }
  }
}
.sectionChapter {
  padding: 70px 0;
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  .other {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #121212;
    margin-bottom: 25px;
  }
}
header {
  img {
    max-width: 60px;
  }
}
.ant-switch.ant-switch-checked {
  background-color: #ddd !important;
}
.main {
  transition: 0.4s;
  &.dark {
    transition: 0.4s;
    background-color: #000;
  }
}
.dark {
  background-color: #000;
  h5,
  h3,
  a {
    color: #ddd;
  }
  .logo {
    fill: #ddd;
  }
}
.darkS {
  color: #ddd;
  .titleLeft {
    color: #ddd;
  }
}
